body {
        background-color: black;
        height: 95vh;
        width: 95;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: blueviolet;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

}

canvas {
    border-radius: 15px;
    
}

.criarCobrinha {

    border-radius: 100px;
}

